name: Server CI

on:
  push:
    branches: [ "main", "master" ]
    paths:
      - 'server/**'
  pull_request:
    branches: [ "main", "master" ]
    paths:
      - 'server/**'

jobs:
  build-server:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Build Server Image
      uses: docker/build-push-action@v5
      with:
        context: ./server
        file: ./server/Dockerfile.serve
        push: false
        tags: server:latest

    - name: Build Train Image
      uses: docker/build-push-action@v5
      with:
        context: ./server
        file: ./server/Dockerfile.train
        push: false
        tags: train:latest
